.portfolio-modal .modal-content img {
    margin-bottom: 0px;
}

ul li {
    list-style-position: inside;
}

#skills ul {
    padding: 0 0 0 0;
}

footer {
    background-color: #212529;
    color: #fec503;
}

footer ul.social-buttons {
    display: inline;
    margin-left: 20px;
}

footer ul.social-buttons li a {
    background-color: #007bff;
}

footer span.copyright {
    font-family:'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;
    font-size: 1.25rem;
}

.hobby h4 {
    padding-left: 10px;
}